%h1 Listing flavors

%table
  %tr
    %th
    %th
    %th

  - @flavors.each do |flavor|
    %tr
      %td= link_to 'Show', flavor
      %td= link_to 'Edit', edit_flavor_path(flavor)
      %td= link_to 'Destroy', flavor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Flavor', new_flavor_path
