#select_paymode.span4.thumbnail.well
	%h4 当前配置
	#static-config
		.controls-row
			%label.control-label 数据中心 :
			%label#datacenter-selected sss
		.controls-row
			%label.control-label CPU :
			%label#cpu-selected  sss
		.clear
		%label.control-label 内存 :
		%label#mem-selected

		%label.control-label 系统盘 :
		%label#os-selected

		%label.control-label 数据盘 :
		%label#datadisk_space-selected

		%label.control-label 镜像 :
		%label#image-selected

		%label.control-label 网络 :
		%label#bandwidth-selected

		%label.control-label 购买时长 :
		%label#time-selected

		%label.control-label 购买数量 :
		%label#count-selected

		%label.control-label 价格 :
		%label#price-selected


