%section#flavor
	%h5 推荐类型
	.flavors

%section#cpu
	%h6 CPU
	.cpus

%section#memory
	%h6 内存
	.memeories

// templates

//flavors
%script#tmpl-flavors{type: 'text/x-jquery-tmpl'}
	.flavor-item
		.inner
			%span.icon.icon-selected
		%h6 '${custom_name}'

//cpus
%script#tmpl-cpus{type: 'text/x-jquery-tmpl'}
	.cpu{data: {value: '${cores}'} } '${cores}'核

//memories
%script#tmpl-memories{type: 'text/x-jquery-tmpl'}
	.memory{data: {value: '${size}'}} '${size}'M
