%section#flavor
	%h5 推荐类型
	.flavors

%section#cpu
	%h6 CPU
	.cpus

%section#memory
	%h6 内存
	.memories

// templates

//flavors
%script#tmpl-flavors{type: 'text/x-jquery-tmpl'}
	.flavor
		.inner
			%span.icon.icon-selected
		%h6 ${alias}

