%section#ostype
	.ostypes
		%strong 镜像:
		%a.ostype{data: {id: 0, owner: 'private'}, href: '#'} 自有镜像

%section#image
	.images

// templates

// ostypes
%script#tmpl-ostypes{type: 'text/x-jquery-tmpl'}
	%a.ostype{data: {id: '${id}', owner: 'public'}, href: '#'}
		${name}

// public images
%script#tmpl-public-images{type: 'text/x-jquery-tmpl'}
	.image{data: {id: '${image_id}', ostypeid:'${os_type_id}'}}
		${name}

// private images
%script#tmpl-private-images{type: 'text/x-jquery-tmpl'}
	{{tmpl(image) "#tmpl-private-image"}}

%script#tmpl-private-image{type: 'text/x-jquery-tmpl'}
	.image{data: {id: '${id}'}}
		${name}

