#create_image-modal.modal.hide.fade
	%form#create_image.form-horizontal{:action => "/hosts/create_image", :method => "POST", :novalidate => "novalidate"}
		.modal-header
			%a.close{"data-dismiss" => "modal"} ×
			%h3 制作镜像
		.modal-body.form-inline.vomule.form-horizontal
			%p.dalert-error
				%i.icon-warning-sign
				当前主机运行中,内存中数据存在未写入镜像概率，建议停机做镜像！
			%div
				.control-group
					%label.control-label 主机名称 :
					.controls
						%input{:name => "image_create_host", :style => "width:150px;", :type => "text", :readonly => ""}
				.control-group
					%label.control-label
						%i.red> *
						镜像名称 :
					.controls
						%input{:class => "{required:true, messages:{required:'镜像名称必填'}}", :name => "image_name", :style => "width:150px;", :type => "text"}/
				.control-group
					%label.control-label
						%i.red> *
						镜像描述 :
					.controls
						%input{:class => "{required:true, messages:{required:'镜像描述必填'}}", :name => "image_desc", :style => "width:150px;", :type => "text"}/
			%p{:style => "display:none"}
				镜像制作由于需要进行大量的数据Copy,根据用户系统的实际数据量需要数分钟到十多分钟不等的时间，请您耐心等待。
			#msg_container.alert.alert-block.alert-error.fade.in{:style => "display:none"}
				%span.img-msg
		.modal-footer
			%input{:name => "img-create-instance-id", :type => "hidden", :value => ""}
			%input.btn.btn-primary{:type => "submit", :value => "确定"}
			%button.btn{"data-dismiss" => "modal", :type => "text"} 取消
