.form-group
	%label.control-label.col-lg-3{:for => "hostname"} 主机名称
	.col-lg-6
		%input#hostname.form-control{:name => "hostname", :type => "text"}
		
.form-group
	%label.control-label.col-lg-3{:for => "hostnum"} 主机数量
	.col-lg-6
		%input#hostnum.form-control{:name => "hostnum", :type => "text", :value => "1"}

.form-group#ssh-login
	%label.col-sm-3.control-label SSH登录方式
	.col-sm-9.icheck
		.square-yellow
			.radio
				%input{:name => "ssh-login-radio", :value => "key", :option => "#ssh-login-key", :type => "radio"}
				%label SSH密钥
		.square-yellow
			.radio
				%input{:name => "ssh-login-radio", :value => "password", :option => "#ssh-login-password", :type => "radio"}
				%label 密码

.form-group
	%label.control-label.col-lg-3{:for => "username"} 用户名
	.col-lg-6
		%input#username.form-control{:name => "username", :type => "text", :disabled=> ""}

#ssh-login-option
	#ssh-login-key		
		.form-group
			%label.control-label.col-lg-3{:for => "password"} SSH密钥
			.col-lg-6
				%input#ssh-key.form-control{:name => "key", :type => "text"}

	#ssh-login-password
		.form-group
			%label.control-label.col-lg-3{:for => "password"} 密码
			.col-lg-6
				%input#password.form-control{:name => "password", :type => "password"}

		.form-group
			%label.control-label.col-lg-3{:for => "confirm_password"} 确认密码
			.col-lg-6
				%input#confirm_password.form-control{:name => "confirm_password", :type => "password"}

