%h4 配置详情
%table.table.table-bordered.table-hover
	%tbody
		%tr
			%td 映像
			%td CentOS 6.4 64bit
		%tr
			%td 主机类型
			%td 定制
		%tr
			%td CPU
			%td 8 核
		%tr
			%td 内存
			%td 8 G
		%tr
			%td 名称
			%td
		%tr
			%td 数量
			%td 1
		%tr
			%td{:width => "20%"} 单价
			%td
				1.36
				%span.unit 元/小时
%h4
	总价&nbsp;&nbsp;
	%span.price 1.36
	%span.unit 元/小时
	%span.unit.none
		（合
		%strong> 979.20
		元/月）
