.step-inner
  .vxnets
    %h3 基础网络
    .vxnet-item.selected{"data-vxnet-id" => "vxnet-0", "data-vxnet-type" => "1"}
      %span.icon.icon-consumed
      %label.name 基础网络
      %label.id ID: vxnet-0
    %h3 私有网络
    .vxnet-type
      %b 受管
      %span.none 使用青云路由器来管理的网络
    %label.none 无
    .vxnet-type
      %b 自管
      %span.none 您自己管理的网络（可多选）
    %label.none 无