.col-sm-12
	%section.panel
		%header.panel-heading
			创建主机
			%span.tools.pull-right
				%a.fa.fa-chevron-down{:href => "javascript:;"}
				%a.fa.fa-cog{:href => "javascript:;"}
				%a.fa.fa-times{:href => "javascript:;"}
		.panel-body
			= form_tag({:controller => "hosts", :action => "create"}, :method => "post", :class => "form-wizard form-horizontal validate", :id =>"inst-wizard-form") do
				.steps-progress
					.progress-indicator
				%ul
					%li.active
						%a{"data-toggle" => "tab", :href => "#inst-tab1"}
							%span> 1
							选择映像
					%li
						%a{"data-toggle" => "tab", :href => "#inst-tab2"}
							%span> 2
							选择类型
					%li
						%a{"data-toggle" => "tab", :href => "#inst-tab3"}
							%span> 3
							创建主机
				.tab-content
					#inst-tab1.tab-pane.active
						= render :partial => "image_select"
					#inst-tab2.tab-pane
						= render :partial => "flavor_select" 
					#inst-tab3.tab-pane
						= render :partial => "instance_setting"
					%ul.pager.wizard
						%li.previous.pull-left
							%button.btn.btn-primary{:href => "#"}
								%i.fa.fa-angle-left
								上一步
						%li.next.pull-right
							%button.btn.btn-primary{:href => "#"}
								下一步
								%i.fa.fa-angle-right
						%li.next.finish.pull-right{:style => "display:none;"}
							%button#create_instance_commit.btn.btn-primary{:href => "javascript:;"} 创建主机
							-# submit_tag "创建主机", class: "btn btn-primary", id: "create_instance_commit"