= provide(:title, @user.name)
%h1
	= @user.name 
	= link_to "退出", signout_path, method: "delete"


%p
	%label{:for => "amount"} Donation amount ($50 increments):
	%input#amount{:style => "border: 0; color: #f6931f; font-weight: bold;", :type => "text"}/
#slider