.btn-toolbar
	.btn-group.pull-left
		%a.btn{"data-toggle" => "dropdown", :href => "#"}
			%i.icon-wrench
			申请IP
		%a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
			%span.caret
		%ul.dropdown-menu
			%li
				%a.ip_op_link{:href => "#", :action => "addPublicIP"}
					%i.icon-xxx
					申请外网IP
			%li
				%a.ip_op_link{:href => "#", :action => "addPrivateIP"}
					%i.icon-xxx
					申请内网IP

	.btn-group{:style => "float:left;"}
		%button.btn.ip_op_btn{:action => "releasePublicIP", :disabled => "disabled", :href => "#"}
			%i.icon-trash>
			释放IP		

	.btn-group{:style => "float:left;"}
		%button.btn.ip_op_btn{:disabled => "disabled", :href => "#bindip-modal", :"data-toggle" => "modal"}
			%i.icon-link>
			绑定主机
		= render 'floating_ips/bind_ip'
		%button.btn.ip_op_btn{:action => "unbindIPtoServer", :disabled => "disabled", :href => "#"}
			%i.icon-unlink>
			解绑主机
			
	
	.btn-group.pull-right
		%a#help_btn.btn.btn-primary{:site => "host"}
			%i.icon-question-sign.icon-white>
			帮助
	.btn-group.pull-right
		%a.btn.refresh{:href => ""}
			%i.icon-refresh>
			刷新


