#create-volume-modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "create-volume-lab", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			%form#create-volume.form-horizontal{ :action => volumes_path, :method => "POST" }
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h4#create-volume-lab.modal-title 创建硬盘
				.modal-body
					.form-group
						%label.control-label.col-lg-3{:for => "display_name"}
							%i.red> *
							磁盘名称 :
						.col-lg-6
							%input#display_name.form-control{:name => "display_name", :type => "text"}

					.form-group
						%label.control-label.col-lg-3{:for => "size"} 
							%i.red> *
							磁盘空间 :
						.col-lg-6
							.input-group
								%input#size.form-control{:name => "size", :type => "text"}
								%span.input-group-addon G

					.form-group
						%label.control-label.col-lg-3{:for => "display_description"}
							%i.red> *
							描述 :
						.col-lg-6
							%textarea#display_description.form-control{:name => "display_description", :row => "3"}

							%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}

				.modal-footer
					%input.btn.btn-primary{:type => "submit", :value => "确定"}
					%button.btn.btn-primary{"data-dismiss" => "modal", :type => "text"} 取消

