.btn-toolbar
	.btn-group{:style => "float:left;"}
		%button.btn.volume_op_btn{:href => "#create_volume-modal", "data-toggle" => "modal" }
			%i.icon-plus
			创建硬盘
		= render '/volumes/create'     

		%button.btn.volume_op_btn{:action => "delete", :disabled => "disabled", :href => "#", :disabled => "disabled" }
			%i.icon-minus
			删除硬盘

	.btn-group{:style => "float:left;"}
		%button.btn.volume_op_btn{:href => "#mount_volume-modal", "data-toggle" => "modal" , :disabled => "disabled" }
			%i.icon-plus-sign
			挂载
		= render '/volumes/mount'     
		%button.btn.volume_op_btn{:href => "#create_image-modal", "data-toggle" => "modal", :disabled => "disabled" }
			%i.icon-minus-sign
			卸载
		-# = render '/volumes/unmount'     

	.btn-group{:style => "float:left;"}
		%button.btn.volume_op_btn{:href => "#create_image-modal", "data-toggle" => "modal", :disabled => "disabled" }
			扩容硬盘
		-# = render '/volumes/resize'     

	.btn-group{:style => "float:left;"}
		%button.btn.volume_op_btn{:href => "#create_image-modal", "data-toggle" => "modal" , :disabled => "disabled"}
			制作快照
		-# = render '/volumes/create_snapshot'     

	.btn-group{:style => "float:left;"}
		%button.btn.volume_op_btn{:href => "#create_image-modal", "data-toggle" => "modal" , :disabled => "disabled"}
			克隆硬盘
		-# = render '/volumes/clone_disk'     

	.btn-group.pull-right
		%a#help_btn.btn.btn-primary{:site => "#"}
			%i.icon-question-sign.icon-white>
			帮助
	.btn-group.pull-right
		%a.btn.refresh{:href => ""}
			%i.icon-refresh>
			刷新
