%section.panel
	%header.panel-heading
		磁盘管理
		%span.tools.pull-right
			%a.fa.fa-chevron-down{:href => "javascript:;"}
			%a.fa.fa-cog{:href => "javascript:;"}
			%a.fa.fa-times{:href => "javascript:;"}
	.panel-body
		#vol-tableactionable
			= render 'volumes/op_btn'
			= render 'volumes/table'