.btn-toolbar
	.btn-group{:style => "float:left;"}
		%a.btn{:href=> new_security_path} 
			%i.icon-plus
			创建防火墙
	.btn-group{:style => "float:left;"}
		%button.btn.firewall_op_btn{:action => "start", :disabled => "disabled", :href => "#"}
			%i.icon-edit>
			编辑
		%button.btn.firewall_op_btn{:action => "shutdown", :disabled => "disabled", :href => "#"}
			%i.icon-remove-sign>
			删除
	
	.btn-group.pull-right
		%a#help_btn.btn.btn-primary{:site => "host"}
			%i.icon-question-sign.icon-white>
			帮助
	.btn-group.pull-right
		%a.btn.refresh{:href => ""}
			%i.icon-refresh>
			刷新


