#sec-toolbar.clearfix
	.btn-group
		%button.btn.btn-primary{ "data-target" => "#create-sec-modal", "data-toggle" => "modal" }
			新建
			%i.fa.fa-plus
		= render 'securities/create'
		
	.btn-group
		%button.btn.btn-primary.sec_op_btn.disabled{:action => "edit", :href => "#"}
			编辑

	.btn-group
		%button.btn.btn-primary.sec_op_btn.disabled{ "data-target" => "#delete-sec-modal", "data-toggle" => "modal" }
			删除
			%i.fa.fa-trash-o
		= render 'securities/delete'

	.btn-group.pull-right
		%a.btn.btn-primary{:href => ""}
			刷新
			%i.fa.fa-refresh

