%script#RuleTemplate{:type => "text/x-jquery-tmpl"}
	%tr
		%td
			= check_box_tag "ruleids",'${id}', false
		%td 
			= link_to 'TCP', '#', :name => "ip_protocol", :class => "rule-editable", :"data-type" => "select",	 :"data-value" => "1", :"data-source" => "{1: 'TCP', 22: 'UDP', 3: 'ICMP' }"  
		%td
			=link_to '22', "#", :name => "from_port",:class => "rule-editable", "data-type" => "text"
		%td
			=link_to '22', "#", :name => "to_port",:class => "rule-editable", "data-type" => "text"
		%td
			=link_to '0.0.0.0/0', "#", :name => "cidr",:class => "rule-editable", "data-type" => "text"
		%td
			.delRule.btn{:href => "#", :"data-id" =>'-1'} 删除
