#detail-modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "rules-lab", :role => "dialog", :tabindex => "-1"}
%script#detail-modal-tmpl{:type => "text/x-jquery-tmpl"}
	.modal-dialog.modal-lg
		.modal-content
			%form#sg-rules.form-horizontal{:action => '/securities/${security_group.id}', :method => "POST"}
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h4#rules-lab.modal-title 防火墙规则
				.modal-body
					%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
					%input{:name=>"_method", :type=>"hidden", :value=>"put"}

					= render 'rules/op_btn'
					= render 'rules/table'

				.modal-footer
					%input.btn.btn-primary{:type => "submit", :value => "确定"}
					%button.btn.btn-primary{"data-dismiss" => "modal", :type => "text"} 取消

%script#detail-item{:type => "text/x-jquery-tmpl"}
	%tr
		%td ${rule.id}
		%td ${rule.ip_protocol}
		%td ${rule.from_port}
		%td ${rule.to_port}
		%td ${rule.cidr}
		%td 
			%a.edit.btn.btn-sm.btn-block.btn-primary{:href => "javascript:;"}
				编辑
		%td
			%a.delete.btn.btn-sm.btn-block.btn-primary{:href => "javascript:;"}
				删除

