.adv-table
	%table#sec-table.table.table-bordered.display{ :width => "100%" }
		%thead
			%tr
				%th
				%th 名称
				%th 绑定主机		
				%th 描述
		%tbody
		-# - @firewalls.each do |fw|
		-# 	%tr
		-# 		%td= check_box_tag "fwids", fw.id, false, fwname: "#{fw.name}"
		-# 		%td= fw.name
		-# 		%td= fw.description
		-# 		%td 
		-# 		%td

