-# - form_tag ... do
%table.table.table-bordered.table-condensed#tab_servers
	%thead
		%tr
			%th
			%th 防火墙名称
			%th 防火墙描述
			%th 已绑定主机		
			%th 创建时间

	%tbody
		- @firewalls.each do |fw|
			%tr
				%td= check_box_tag "fwgids", fw.id, false, firewellname: "#{fw.name}"
				%td= fw.name
				%td= fw.description
				%td 
				%td

