%section.panel
	%header.panel-heading
		%a
			#{@security.name}
		规则管理
		%span.tools.pull-right
			%a.fa.fa-chevron-down{:href => "javascript:;"}
			%a.fa.fa-cog{:href => "javascript:;"}
			%a.fa.fa-times{:href => "javascript:;"}
	.panel-body
		#rules-tableactionable
			= render 'rules/op_btn'
			= render 'rules/table'


