<button class="btn btn-sm btn-primary" data-target="${security_group.id}-modal" data-toggle="modal">
  编辑
</button>
<div aria-hidden="true" aria-labelledby="${security_group.id}-lab" class="modal fade" id="${security_group.id}-modal" role="dialog" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/securities/${security_group.id}" class="form-horizontal" method="POST">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4 class="modal-title" id="${security_group}-lab">防火墙规则</h4>
        </div>
        <div class="modal-body">

					<table class="table table-striped table-hover table-bordered" id="editable-sample">
						<thead>
							<tr>
								<th>协议</th>
								<th>开始端口</th>
								<th>结束端口</th>
								<th>源地址</th>
								<th>编辑</th>
								<th>删除</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>ip_protocol</td>
								<td>from_port</td>
								<td>to_port</td>
								<td>cidr</td>
								<td><a class="btn btn-sm btn-primary" href="javascript:;">Edit</a></td>
								<td><a class="btn btn-sm btn-primary" href="javascript:;">Delete</a></td>
							</tr>

          <!-- <div class="form-group"> -->
          <!--   <label class="control-label col-lg-3" for="name"> -->
          <!--     防火墙名称 : -->
          <!--   </label> -->
          <!--   <div class="col-lg-6"> -->
          <!--     <input class="form-control" name="security_group[name]" type="text"> -->
          <!--   </div> -->
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <!--   <label class="control-label col-lg-3" for="description"> -->
          <!--     描述 : -->
          <!--   </label> -->
          <!--   <div class="col-lg-6"> -->
          <!--     <textarea class="form-control" name="security_group[description]" row="3"></textarea> -->
          <!--   </div> -->
          <!-- </div> -->
          <input name="authenticity_token" type="hidden" value="mjEqdVpoEkty5YzU74Y6aB8xLMByeS6k1csrZ1oB2fY=">
          <input name="_method" type="hidden" value="put">
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="确定">
          <button class="btn btn-primary" data-dismiss="modal" type="text">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>
