// Place all the styles related to the Hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* .modal-header { */
/* 		padding: 3px 15px; */
/* } */

/* #create-instance-modal { */
/* 		width: 960px; */
/* 		margin-left: -480px; */

/* 		.modal-body { */
/* 			padding: 0; */
/* 		} */
/* 		#create-instance-steps { */
/* 			width: 599px; */
/* 			border-right: 1px solid blue; */
/* 		} */
/* } */



/* tr td:first { */
/* 		width: 10em; */
/* } */

.btn.disabled {
		background-color: #b0b5b9;
		border-color: #b0b5b9;
		color: #fff;
}

.hostname {
		font-size: 1.2em;
		color: #35bcb5;
}

.btn-active {
		background-color: #5cb85c;
		color: #fff;
}

.btn-build, .btn-hard-reboot, .btn-password, .btn-reboot, .btn-rebuild, .btn-resize, .btn-revert-resize, .btn-verify-resize {
		background-color: #8175c7;
		color: #fff;
}

.btn-error, .btn-deleted {
		background-color: #ff6c60;
		color: #fff;
}

.btn-shutoff, .btn-suspended, .btn-paused {
		background-color: #344860;
		color: #fff;
}

.btn-rescue, .btn-unknown {
		background-color: #FCB322;
		color: #fff;
}

.cpu, .memory {
		color: #1F90C8;
		&:hover {
				background: #eff4fb;
		}
		&.selected {
				background: #17b5ac;
				color: white;
		}
}


custom-instance-types .types {
		overflow: hidden;
		margin: 0 auto 40px 0;
}

/* .flavor:first-child { */
/*     margin-left: 20px; */
/* } */

.flavor {
    cursor: pointer;
    float: left;
    height: 7em;
    margin: 1em 0.555%;
    opacity: 0.9;
    text-align: center;
    width: 10%;
		
		.inner {
				height: 5em;
				background-color: red;
				padding-top: 1.5em;
		}
		
		span {
				color: white;
				display: none;
				font-size: 2em;
				display:none;
		}

		&.selected span {
				display:inline-block;
		}

}



.flavors .flavor:nth-child(1) .inner {
  background-color: #d2f9f7;
}

.flavors .flavor:nth-child(2) .inner {
  background-color: #a4f4ef;
}

.flavors .flavor:nth-child(3) .inner {
  background-color: #77eee7;
}

.flavors .flavor:nth-child(4) .inner {
  background-color: #4ae8df;
}

.flavors .flavor:nth-child(5) .inner {
  background-color: #1ce3d7;
}

.flavors .flavor:nth-child(6) .inner {
  background-color: #17b5ac;
}

.flavors .flavor:nth-child(7) .inner {
  background-color: #118881;
}

.flavors .flavor:nth-child(8) .inner {
  background-color: #0b5b56;
}

.flavors .flavor:nth-child(9) .inner {
  background-color: #062d2b;
}


#cpu {
		clear: both;
}

.cpu, .memory {
		background: #fff;
		color: #17b5ac;
		font-size: 1.2em;
		padding-top: 1.2em;
		height: 4em;
		border: 1px solid #cfeaf8;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;


		&.disabled {
				background: #EEEEEE;
				border: 1px solid #D6D6D6;
				color: #777777;
				cursor: no-drop; 
				text-shadow: 0 1px #FFFFFF;
		}
}

.cpu {
		width: 12%;
		margin: 1em 2.3333%;
}

.memory {
		width: 10%;
		margin: 1em 1.25% 2em;
}

input.error textarea.error {
		border-color: #B94A48 !important;
}

label.error {
		display: inline;
		margin: 5px 0px;
		width: auto;
		color: #B94A48;
}

host_create_step1 .form-horizontal .control-label {
	width: 60px;
	text-align: left;
}
#createhost-modal .modal-body {
	max-height: 800px;
}

#flavor-option {
		.controls {
				margin-left: 10%;
		}
}
.tabbable {

margin-bottom: 20px;

}


#disk_slider {
	margin-top: 10px;
  margin-right: 20px;	
}

