// Place all the styles related to the Hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-header {
		padding: 3px 15px;
}

#create-instance-modal {
		width: 960px;
		margin-left: -480px;

		.modal-body {
			padding: 0;
		}
		#create-instance-steps {
			width: 599px;
			border-right: 1px solid blue;
		}
}

.ostype, .image, .cpu, .memory {
		color: #1F90C8;
		&.selected {
				background: #1F90C8;
				color: white;
		}
}

ul.easyWizardSteps {
		background: #f2f2f2;
		margin: 0 0 20px 0;
		padding: 10px 5%;

		.current span {
				background: green;
				border-radius: 25px 25px 25px 25px;
				color: white;
				border: 4px solid #E2E2E2;
				width: 20px;
				margin: 0 auto;
		}

		li {
				display: inline-block;
				text-align: center;
				width: 25%;
				position: relative;
				&.current {
						color: green;
				}
				span {
						display: block;
						background: #777777;
						border-radius: 25px 25px 25px 25px;
						color: #ffffff;
						border: 4px solid #E2E2E2;
						width: 20px;
						margin: 0 auto;
						with: 6px;
						hr {
								background: #E2E2E2;
								height: 8px;
								left: 60%;
								position: absolute;
								top: 60%;
								width: 87%;
								margin: 0;
						}
				}
		}
}

.easyWizardButtons {
		overflow: hidden;
		padding: 10px 30px;
		background: #f2f2f2;

		button, .submit {
				cursor:pointer
		}
		.prev {
				float:left 
		} 

		.next, .submit {
				float:right
		}
}


.easyWizardWrapper {
		height: 350px;
}

.ostypes {
		margin: 0 5px;
}

.ostype {
		border-radius: 25px;
		margin: 5px 5px auto auto;
		background-color: #eeeeee;
		padding: 5px 15px;
}

.images {
		margin: 30px 10%;
		
}

.image {
		border: 1px solid  #CFEAF8;
		border-radius: 5px;
		padding: 5px;
		width: 90%;
		text-align: center;
		margin: 5px auto;
}

.ostype, .image {
		color: #1F90C8;
		&.selected {
				background: #1F90C8;
				color: white;
		}
}

aside#options {
		position: absolute;
		left: 65%;
		top: 0;
		width: 30%;
		padding: 20px;
}

.step-inner {
		padding: 0px 30px;
}

custom-instance-types .types {
		overflow: hidden;
		margin: 0 auto 40px 0;
}

.flavor-item:first-child {
    margin-left: 20px;
}

.flavor-item {
    cursor: pointer;
    float: left;
    height: 70px;
    margin: 0 2px;
    opacity: 0.9;
    text-align: center;
    width: 56px;
		
		.inner {
				height: 30px;
				padding-top: 6px;
				
				span {
						color: white;
						display: none;
						font-size: 1.2em;
				}
		}
}

.flavors .flavor-item:nth-child(1) .inner {
    background-color: #6CBFE8;
}


.flavors .flavor-item:nth-child(2) .inner {
    background-color: #53B4E4;
}


.flavors .flavor-item:nth-child(3) .inner {
    background-color: #39A8E0;
}

.flavors .flavor-item:nth-child(4) .inner {
    background-color: #229CD9;
}

.flavors .flavor-item:nth-child(5) .inner {
    background-color: #1E8AC0;
}

.flavors .flavor-item:nth-child(6) .inner {
    background-color: #1A78A6;
}

.flavors .flavor-item:nth-child(7) .inner {
    background-color: #16658D;
}

.flavors .flavor-item:nth-child(8) .inner {
    background-color: #125373;
}

.flavors .flavor-item:nth-child(9) .inner {
    background-color: #0E405A;
}

.icon-selected:before {
    content: "✓";
}

#cpu {
		clear: both;
}

.cpu, .memory {
		padding: 20px 7px;
		background: #fff;
		color: #1f90c8;
		border: 1px solid #cfeaf8;
		font-size: 16px;
		margin: 0 4px;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
}

.cpu {
		width: 70px;
}

.memory {
		padding: 12px 8px;
		width: 38px;
		font-size: 12px;
		height: 33px;
		line-height: 33px;
		vertical-align: middle;
		word-break: break-all;
}

host_create_step1 .form-horizontal .control-label {
	width: 60px;
	text-align: left;
}
#createhost-modal .modal-body {
	max-height: 800px;
}

#flavor-option {
		.controls {
				margin-left: 10%;
		}
}
.tabbable {

margin-bottom: 20px;

}


#disk_slider {
	margin-top: 10px;
  margin-right: 20px;	
}

