#rules-toolbar.clearfix
	.btn-group
		%button.btn.btn-primary{ "data-target" => "#create-rule-modal", "data-toggle" => "modal" }
			新增
			%i.fa.fa-plus
		= render 'rules/create'
	.btn-group
		%button.btn.btn-primary.rules-op-btn.disabled{ "data-target" => "#delete-rule-modal", "data-toggle" => "modal" }
			删除
			%i.fa.fa-trash-o
		= render 'rules/destroy'

	.btn-group.pull-right
		%a.btn.btn-primary{:href => ""}
			刷新
			%i.fa.fa-refresh
