%table#rule-table.table.table-bordered.display{ :width => "100%" }
	%thead
		%tr
			%th
			%th 协议
			%th 开始端口
			%th 结束端口		
			%th 源地址
			%th 操作

	%tbody

-# .table#rule_data
-# 			= render 'securities/rule_tmpl'
-# 			- @rules.each do |rule|
-# 				%tr
-# 					%td
-# 						= check_box_tag rule.id, rule.id, false
-# 					%td 
-# 						= link_to rule.ip_protocol, '#', :name => "ip_protocol", :class => "rule-editable", :"data-type" => "select",	 :"data-value" => "1", :"data-source" => "{1: 'TCP', 22: 'UDP', 3: 'ICMP' }"  
-# 					%td
-# 						=link_to rule.from_port, "#", :name => "from_port",:class => "rule-editable", "data-type" => "text"
-# 					%td
-# 						=link_to rule.to_port, "#", :name => "to_port",:class => "rule-editable", "data-type" => "text"
-# 					%td
-# 						=link_to rule.cidr.nil? ? "": rule.cidr, "#", :name => "cidr",:class => "rule-editable", "data-type" => "text"	
-# 					%td
-# 						.delRule.btn{:href => "#", :"data-id" =>rule.id } 删除


-# 	.btn-toolbar{:style => "margin:5px 5px;"}
-# 		.btn-group.pull-right
-# 			#add_new_rule_btn.btn{:href => "#"}
-# 				%i.icon-plus>
-# 				添加规则
-# 	%br/
-# 	%a.btn.btn-primary.submit_firewall{ :action => "update" } 提交
-# 	%a.btn{:href => securities_path }取消


