#create-keypair-modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "create-keypair-lab", :role => "dialog"}
	.modal-dialog
		.modal-content
			%form#create-keypair.form-horizontal{:action => key_pairs_path, :method => "POST"}
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h4#create-keypair-lab.modal-title 新建SSH密钥
				.modal-body
					.form-group
						%label.control-label.col-lg-3{:for => "name"}
							名称 :
						.col-lg-6
							%input.form-control{ :name => "name", :type => "text" }

					#key-info.after-created
						.form-group
							%label.control-label.col-lg-3{:for => "fingerprint"}
								指纹 :
							.col-lg-6
								%input.form-control{:name => "fingerprint", :type => "text", :disabled => "disabled"}

						.form-group
							%label.control-label.col-lg-3{:for => "private_key"}
								私钥 :
							.col-lg-6
								%textarea.form-control{:name => "private_key", :rows => "6", :disabled => "disabled"}
						
					%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}

					
				.modal-footer
					.before-created
						%input.btn.btn-primary{:type => "submit", :value => "创建"}
						%button.btn.btn-primary{"data-dismiss" => "modal", :type => "text", :name=> "cancel"} 取消
					.after-created
						%button.btn.btn-primary{"data-dismiss" => "modal", :type => "text", :name=> "download"} 下载私钥
					