#create-image-modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "create-image-lab", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			%form#create-image.form-horizontal{:action => create_image_hosts_path, :method => "POST"}
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
					%h4#create-image-lab.modal-title 制作镜像
				.modal-body

					.form-group
						%label.control-label.col-lg-3{:for => "server_id" } 主机名称 :
						.col-lg-6
							%select#server_id.form-control{:name => "server_id"}
								- @servers.each do |s|
									%option{:value => "#{s.id}"} 
										= s.name
					.form-group
						%label.control-label.col-lg-3{:for => "image_name"}
							%i.red> *
							镜像名称 :
						.col-lg-6
							%input#image_name.form-control{ :name => "image_name",:type => "text"}
					.form-group
						%label.control-label.col-lg-3{:for => "image_desc" }
							%i.red> *
							描述 :
						.col-lg-6
							%textarea#image_desc.form-control{:name => "image_desc", :row => "3"}

					%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}

				.modal-footer
					-# %input{:name => "img-create-instance-id", :type => "hidden", :value => ""}
					%input.btn.btn-primary{:type => "submit", :value => "确定"}
					%button.btn.btn-primary{"data-dismiss" => "modal", :type => "text"} 取消
