/ FOOTER
%section
	%hr/
	%ul.inline.text-center
		%li
			%strong Follow Us On:
		%li
			%a{:href => ""} 微博
		%li
			%a{:href => ""} Facebook
		%li
			%a{:href => ""} LinkedIn
	%p.text-center.muted &copy; Copyright 2013 胜世云计算
/ end container

    